@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #000000;
  --instituto-white: #FFFFFF;
  --instituto-black: #000000;
  --instituto-red: #AA0000;
  --instituto-red-light: #C10303;
}

body {
  background-color: var(--instituto-white);
  color: var(--instituto-black);
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}